<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @style = "margin-right:8px;" })
            @Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @style = "margin-right:8px;" })
        </div>
        @*<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Random", "Random", "Movies")</li>
            </ul>
        </div>*@
    </div>
</div>

